#navigation{
    background-color: rgb(152, 41, 237);
    border: solid 1px black;
    height: 102px;
    width: 100%;
    margin: 0;
    padding: 0;
}
#logo{
    display: inline-block;
}
#tabla{
    display: inline-block;
}

#piePagina{
    color: white;
    display: inline-block;
    background-color: rgb(152, 41, 237);
    width: 100%;
    height: 200px;
}