#pie{
    max-width: 200px;
    height: auto;
}
footer{
    background-color: blueviolet;
    color: #fff;
}
.contacto{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    vertical-align: bottom;
}

td{
    width: 50%;
}
.copy_right{
    font-size: xx-small;
}

#navigation{
    background-color: rgb(152, 41, 237);
    border: solid 1px black;
    height: 102px;
    width: 100%;
    margin: 0;
    padding: 0;
}


#trans{
    background-color: #fff;
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#navigation{
    background-color: rgb(152, 41, 237);
    border: solid 1px black;
    height: 102px;
    width: 100%;
    margin: 0;
    padding: 0;
}
#logo{
    display: inline-block;
}
#tabla{
    display: inline-block;
}

#piePagina{
    color: white;
    display: inline-block;
    background-color: rgb(152, 41, 237);
    width: 100%;
    height: 200px;
}